@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #fcf9f6;
}

body {
  margin: 0;
}

button,
a,
input {
  -webkit-tap-highlight-color: transparent;
}

button {
  font: inherit;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
